<footer class="page-footer  lime">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="grey-text text-darken-4">About</h5>
                <p class="grey-text text-darken-4">WeLink is my second project for General Assembly's software
                    engineering immersive program.</p>
                    <h5 class="grey-text text-darken-4">Documentation</h5>
                    <ul>
                        <li><a class="grey-text text-darken-4" href="https://github.com/sarakendig/WeLink">GitHub</a></li>
                    </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="grey-text text-darken-4">Find Me Here</h5>
                <ul>
                    <li><a class="grey-text text-darken-4" href="https://www.linkedin.com/in/sarakendig/">LinkedIn</a></li>
                    <li><a class="grey-text text-darken-4" href="https://sarakendig.github.io/">Portfolio</a></li>
                
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center grey-text text-darken-4">
            © 2020 Sara Kendig
        </div>
    </div>
</footer>