<div class="nav-wrapper  lime grey-text text-darken-4">
  <ul class="left grey-text text-darken-4">
    <li class="Active"><a class="grey-text text-darken-4" href="/messages">Home</a></li>
    <li><a class ="grey-text text-darken-4" href="/messages/new">Post New Message</a></li>
  </ul>
  <a href="" class="brand-logo center grey-text text-darken-4"><i class="material-icons grey-text text-darken-4">mms</i>WeLink</a>
<ul class="right">
    <% if (currentUser) { %>
    <li>Welcome <%= currentUser.username %></li>
    <li>
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Log Out" class="btn-flat grey-text text-darken-4 lime lighten-2" />
      </form>
    </li>
    <% } else { %>
    <li><a class ="grey-text text-darken-4" href="/users/new">Sign Up</a></li>
    <li><a class ="grey-text text-darken-4" href="/sessions/new">Log In</a></li>
    <% } %>
  </ul>
  </div>