<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    
    <body>
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
    <div class="container">
        <h1>Messages New Page</h1>
        <form action="/messages" method="POST">
            <label for="title">Title:</label>
            <input type="text" name="title" required />
            <label for="body">Message:</label>
            <input type="text" name="body" />
            <label for="image">Image:</label>
            <input type="text" name="image" />
            <br />
            
            <input type="submit" value="Submit">
            <form>
    </div>

    <footer>
        <%- include ('../partials/footer.ejs') %>
      </footer>
</body>

</html>