<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    
    <body>
        <nav>
            <%- include ('../partials/nav.ejs') %>
        </nav>
    <div class="container">
        <h1>Log In  <i class="material-icons large">verified_user</i></h1><br>
        <form action="/sessions" method="POST">
            <label class="black-text" for="username"><h5>User Name:</h5></label>
            <input type="text" name="username" required />
            <label class="black-text" for="password"><h5>Password:</h5></label>
            <input type="password" name="password" />
            <br><br>
            <button class="btn black waves-effect waves-green btn-large" type="submit" name="submit">
                <i class="material-icons left">send</i> Submit
              </button>
            <form>
    </div>
<br>
    <footer>
        <%- include ('../partials/footer.ejs') %>
      </footer>

      <script>

      </script>
</body>

</html>